body{
    color: aliceblue;
    background-image: url(6226861.jpg);
    background-size: 150% 150%;
    background-repeat: repeat;
    background-position: center center;
    animation: shrink 4s infinite alternate;

    img{
    border: 2px solid #f0f8f6 ;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 250px;
    image-orientation: from-image ;
    box-shadow: 0 0 15px rgba(65, 149, 252, 0.7);

}


}
@keyframes shrink {
    0%{
  background-size: 120% 120%
    }
    50%{
      background-size: 160% 160%;
      ;
    }
   100%
   {
 background-size: 200% 200;
   } 
}
table{
  margin-top: -370px;
  margin-left: 900px;
  font-size: xx-large;
  border:5px solid whitesmoke ;
  padding: 80px;
   box-shadow: 0 0 15px rgba(65, 149, 252, 0.7);


  

}
a{
 color: aquamarine;
}
h1{
  margin-top: 30px;

}

